page {
  background-color: #F4F4F4;
}

.tab-content {
  color: #808080;
  padding: 18;
}

.title {
  font-size: 18;
  margin: 0 0 8 0;
  color: #3c3c3c;
  /*horizontal-align: center;*/
}

label {
  font-size: 14;
}

button {
  background-color: #3598db;
  color: #ffffff;
  padding: 8 0;
  margin: 8;
  font-size: 14;
  border-radius: 4;
}

.button-hide {
  background-color: #db3015;
}